.contentContainer {
    width: 100%;
    height: 100%;
    padding: 24px 16px 16px 0;
    //background-color: #ffbe33;
    background-color: #f7ebd7;
}

.contentContainer__body {
    max-width: 1080px;
    width: 100%;
    margin: auto;
}
